node_modules
tmp
*.js.map
*.swp

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

#Vagrant
.vagrant

# local config
#
.env
*.sqlite

# BUCK
buck-out/
\.buckd/
*.keystore
